<div class="scanner-container relative">
  <ngx-scanner-qrcode
    #scanner="scanner"
    class="scanner"
    [vibrate]="100"
    [isBeep]="true"
  ></ngx-scanner-qrcode>

  <!-- dropdown แสดงข้อมูลกล้องทั้งหมด -->
  @if (devices().length) {
    <div class="camera-selector">
      <label for="camera-select">Camera:</label>
      <select
        id="camera-select"
        [value]="selectedDeviceId()"
        (change)="onCameraSelectChange($event)"
      >
        <option *ngFor="let d of devices()" [value]="d.deviceId">
          <!-- เอา label / kind / groupId มารวมกัน -->
          {{ d.label }} ({{ d.kind }}, group: {{ d.groupId | slice: 0 : 6 }})
        </option>
      </select>
    </div>
  }

  <button class="cancel-btn" (click)="close()">COMMON.CANCEL</button>
</div>
